.Header {
  padding-top: 10px;
}

.Header h1 {
  font-size: 25;
  font-weight: bold;
  margin: 5px 0 0 0;
}

.greeting {
  color: #66B8FD;
}

.nickname {
  color: #D7F1FE;
}

.hr {
  background-color: #EFEFEF;
  height: 1px;
  border: none;
  margin: 20px 0 0 0;
}