/* .WordSummary {
  display: flex;
  padding: 20px 0;
}

.votes {
  width: 5%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.votes span {
  margin: 3px 0;
  color: #7e7e7e;
}

.details {
  margin-left: 15px;
}

.details_head {
  display: flex;
  align-items: center;
  margin-bottom: 14px;
}

.details_head span {
  font-size: 17px;
  font-weight: bold;
  margin-right: 10px;
}

.details_head div {
  background-color: #f0f0f0;
  padding: 3px 7px;
  border-radius: 4px;
  font-size: 13px;
  color: #7e7e7e;
}

.details_body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.details_body p {
  margin: 0 0 10px 0;

  font-size: 15px;
}

.details_body span {
  font-size: 15px;
  color: #7e7e7e;
}

.details_reports {
  width: 100%;
}

.details_reports span {
  margin-right: 15px;
}

.hr {
  background-color: #efefef;
  height: 1px;
  border: none;
  margin: 0;
} */
